body{

  background-image: url(apteki.jpg);

}
table{

  background-image: url(fon.jpg);
  color: white;
}
yy{
 
    background-image: url(apteki.jpg);
  }
  rr {
    background-color: rgb(85, 85, 85);
    background-image: url(fon.jpg);
  }